*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4F0EA;
}

header{
    background-color: rgb(250, 214, 214);
}

h1{
    border: 2px solid black;
    text-align: center;
}
h2{
    background-color: rgb(250, 214, 214);
    display: inline-block; 
    padding: 2px; 
}