header{
    background-color: rgb(255, 255, 154);
    text-align: center;
}

body{
    background-color: rgb(252, 252, 211);
}

table{
    width: 60%; 
  margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 20px;
}

li{
    display: inline-block;
    margin-right: 20px;
}
.desejo{
    text-align: center;
    border: 4px solid black;
    width: 300px;
}
h2{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
footer{
    background-color: rgb(255, 255, 154);
}