header{
    background-color: rgb(255, 255, 209);
}

nav li{
    display: inline;
}
h1{
    color: rgb(252, 150, 66);
    text-align: center;
}

body{
    background-color: rgb(250, 204, 167);
}
li{
    text-align: center; 
}

.ti{
    color: rgb(65, 64, 64);
}
.apresentacao{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 64, 64);
}
table{
    text-align: center;
}
.logo{
    height: 100px;
    width: 100px;
}
img{
    width: 200px;
    height: 200px;
}

footer{
    background-color: rgb(255, 255, 209);
    text-align: center;
}