*{
    text-align: center;
}



header{
    background-color: black;
}

body{
    background-color: aliceblue;
}

h1{
    text-align: center;
    color: rgb(83, 80, 252);
}

.form{
    text-align: center;
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
}

#email{
    width: 400px;
    height: 30px;
}

#senha{
    width: 400px;
    height: 30px;
}

button:hover{
    background-color: rgb(212, 215, 255);
}

footer{
    text-align: center;
    background-color: black;
    color: rgb(83, 93, 230);;
}